.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin-left: 10px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.title {
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.title:hover {
  transform: scale(1.06);
}

.text {
  text-align: center;
}

p {
  font-size: small;
  text-align: center;
}

.row {
  margin-left: 50%;
}

.main{
  overflow-y: hidden;
}